<p id="notice"><%= notice %></p>

<h1>People</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Mail</th>
      <th>Point</th>
      <th>Won fight</th>
      <th>Lost fight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.surname %></td>
        <td><%= person.address %></td>
        <td><%= person.mail %></td>
        <td><%= person.point %></td>
        <td><%= person.won_fight %></td>
        <td><%= person.lost_fight %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Person', new_person_path %>
