<p id="notice" class="form-group"><%= notice %></p>
 
<p>
  <strong>NOMBRE:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>APELLIDO:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>DIRECCION:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>EMAIL:</strong>
  <%= @person.mail %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
