<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @person.mail %>
</p>

<p>
  <strong>Point:</strong>
  <%= @person.point %>
</p>

<p>
  <strong>Won fight:</strong>
  <%= @person.won_fight %>
</p>

<p>
  <strong>Lost fight:</strong>
  <%= @person.lost_fight %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
