<p id="notice"><%= notice %></p>

<div class="container-fluid">
  
  <div class="row"  >
    <% @characters.each do |character| %>
      <%= link_to(details_path(:code => character['id'])) do%>
      <div class="col-sm-6" background-color="lightblue">
          <div class="panel panel-default">
          
           
              <img src="<%= character['thumbnail']['path']+"/standard_medium."+character['thumbnail']['extension'] %>" class="w3-circle" alt="Alps"> <p>
            
            
            <p>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<p>

<div class ="container">
<ul class="pagination">
  <% (1 .. @paginas).each do |i| %>
    <li <%= if @numeroPag == i; "class=pagination"; end %>>
    <a>  <%= link_to i, characters_path(:page => i) %></a>
    </li>
  <% end %>
</ul>
</div>