<p id="notice"><%= notice %></p>

<h1 class="jumbotron text-center">BATALLAS</h1>

<h2><%= link_to 'NUEVA BATALLA', new_battle_path , class:"btn btn-success"%></h2>

<div class="container">
  <table class="w3-table-all">
    <thead>
      <tr>
        <th>PERSONA</th>
        <th>PERSONAJE</th>
        <th>FECHA BATALLA</th>
        <th>RESULTADO</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @battles.each do |battle| %>
        <tr>
          <% @person = Person.find(battle.people_id).name %>
          <%  @character = Character.find(battle.characters_id).name %>
        
        <td><%= @person %></td>
          <td><%= @character %></td>
          <td><%= battle.date_fight %></td>

        <% if battle.result ==  true %>
           <td> Victoria </td>
        <% else %>
            <td>Perdida</td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
